<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=user.nick%> - <%=title%></title>
	<link rel="stylesheet" href="/build/public/index.min.css">
	<% css.forEach(function(url){ %>
		<link rel="stylesheet" href="<%=url%>">
	<% }) %>
</head>
<body>
	<%-body%>
	<script src="/build/public/index.min.js"></script>
	<% js.forEach(function(url){ %>
		<script src="<%=url%>"></script>
	<% }) %>
	<script>
		$(document).foundation();
	</script>
</body>
</html>